
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> Welcome to HEALTH CARE </font> <br> <br>

					<font color="#000" size="6px"> Best Medical & Health care Needs to Our Patients </font> <br> <br>

Improving patient care has become a priority for all health care providers with the overall objective of achieving a high degree of patient satisfaction. Greater awareness among the public, increasing demand for better care, keener competition, more health care regulation, the rise in medical malpractice litigation, and concern about poor outcomes are factors that contribute to this change.

The quality of patient care is essentially determined by the quality of infrastructure, quality of training, competence of personnel and efficiency of operational systems. The fundamental requirement is the adoption of a system that is ‘patient orientated’. Existing problems in health care relate to both medical and non-medical factors and a comprehensive system that improves both aspects must be implemented. Health care systems in developing countries face an even greater challenge since quality and cost recovery must be balanced with equal opportunities in patient care. <br><br>

The fact that the patient is the most important person in a medical care system must be recognised by all those who work in the system. This single factor makes a significant difference to the patient care in any hospital. In developing countries financial constraints often lead to compromised quality of care. This can be corrected by the introduction of management systems that emphasise cost recovery. Our experience shows that a system should first be developed to attract patients who can afford to pay for high quality services and such a system should then be extended to non-paying patients. This system has the advantages of high quality care and good cost recovery. Some of the issues that need to be addressed to improve patient care are listed below. <br><br>
Trained Personnel. A well-trained ‘Eye Care Team’ is critical to providing high quality care with desirable outcomes. Lack of adequate personnel and lack of adequate training facilities for the available personnel are major problems. The temptation to recruit untrained or poorly trained people should be resisted. The number of training programmes must be increased, and the existing programmes must be improved. Making a uniform basic curriculum available for all training institutions/programmes should help bring about standardisation.
Quality Eye Care. There is significant concern about the outcomes of cataract surgery, and other common surgical procedures. Incorporation of quality assurance systems in every aspect of patient care is critical. For example, adherence to asepsis in the operating rooms will help reduce post-operative morbidity and proper training of ophthalmologists in diagnostic techniques will help achieve better control of sight-threatening diseases.
Equipment. All the necessary equipment must be in place and properly maintained. This is vital to the performance of the medical system and contributes significantly to better results. Eye-care equipment of acceptable standards is now available at reasonable prices, and this must be accompanied by appropriate maintenance systems.
Use of Proper Instruments. Good quality instruments are now available at lower costs. With the development of proper inventory control systems for a given operation, the costs can be lowered.
Use of Appropriate Medications. Access to low cost medicines is an absolute necessity for appropriate care.
Use of Newer Technologies. It is important to continually employ newer technologies that improve the quality of care. Of course, this must be done with reference to cost-efficiencies.
Improvement of patient care is a dynamic process and should be uppermost in the minds of medical care personnel. Development and sustenance of a patient-sensitive system is most critical to achieving this objective. It is important to pay attention to quality in every aspect of patient care, both medical and non-medical.<br></br>
<br>
 </td>
					
					
					<td style="padding-left:20px;"> <img src="../img/about.jpg" width="400px"></td>
				</tr>
			
				
			</table>
		</div>
	</div>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000">Address </font> <br> <br>

					<font color="#000" size="6px"> HEALTH CARE Hospital & Research Center</font> <br> <br>

187, Shri Rampuri, Niwaru Road,<br>
 <br> Behind, Krishna Temple 302020 <br> Contact No - 0123456789 <br> Email: hc@hospital.com<br><br>


<br>
 </td>
					
					
					<td style="padding-left:20px;"> </td>
				</tr>
			
				
			</table>
		</div>
	</div>
	
