<div class="middle">
		<div style="background-image:url('../img/a.jpg');">
	
		</div>
	</div>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> We are medical center </font> <br> <br>

					<font color="#000" size="5px"> We Have Medicare Plan Options for You! </font> <br> <br>

Thanks to sedentary lifestyle, health insurance has become a necessity for every individual in the last few years. This is also the reason people are genuinely concerned about their health. As a result, they give right amount of thoughts at the time when they are considering to buy health insurance policy.

To elaborate on the shift in mindset, an individual has started looking at the broader aspect of their life and its health care needs. And the best part is that they have started accepting the fact that they actually do need health insurance, however the reasons may vary from one person to another. <br><br>

<ul>

<li> 1. Increase in the incidence of lifestyle-related illnesses
Life expectancy has increased. Thanks to advancement in medicines, the average man is likely to live for around 84 years by 2040. And so has stress due to sedentary lifestyle.
<li>2. Health insurance coverage is more than just hospitalization
Most/Many health insurance plans give coverage for day care procedures and OPD, other than the treatments that involve serious hospitalization. There are also health plans that cover vector borne diseases like dengue.
<li>3. Increase in out-of-pocket expenses
With the healthcare industry in India witnessing double-digit inflation, it is getting extremely expensive to treat common ailments in India. As a result, this has put a dent in an individuals pocket.
 
Buying health insurance can double up as your emergency financial fund while preparing you for the troubled times.
<li>4. Your group health cover may not be sufficient
A group health plan may or may not cover all your family members. The sum insured limit in a group plan is also less, which may not be enough to meet all the medical expenses incurred.

And then as you will grow older, you might need frequent medical attention. Before that you may not want to put yourself at the risk of being under-insured.

</ul>

<br>
 </td>
					
					
					<td> </td>
				</tr>
			
				
			</table>
		</div>
	</div>
	
	<div class="bottom_up">
		<div>
				Make an Appointment
				<form action="http://localhost:8080/confirm.html" method="post">
				<table>
										
					<tr>
						<td width="500px"> </td>
						<td>	<input type="text" placeholder="First Name" name="fname"></td>
						<td> 	<input type="text" placeholder="Last Name" name="lname"></td>
					</tr>
					<tr height="30px">
						
					</tr>
					<tr>
						<td width="500px"> </td>
						<td>	<input type="text" placeholder="Email Id" name="email"></td>
						<td> 	<input type="text" placeholder="Mobile No" name="mobile"></td>
					</tr>
					
					<tr height="30px">
						
					</tr>
					<tr>
						<td width="500px"> </td>
						<td>	<select> <option> -- Sex -- </option> <option> Male </option> <option> Female </option> </select></td>
						<td> 	<input type="text" placeholder="appointment date" name="date"></td>
					</tr>
					
						<tr height="30px">
						
					</tr>
					<tr>
						<td width="500px"> </td>
						<td colspan="2">	<textarea placeholder="Message" name="comment"> </textarea>
					</td></tr>
					
						<tr height="30px">
						
					</tr>
					<tr>
						<td width="500px"> </td>
						<td colspan="2">  <button>SUBMIT </button></td>
					</tr>
				</table>
				
				</form>
				
		</div>
	</div>